<div class="login-page">
    <div class="login-container">
        <mat-card class="login-card">
            <h1>Login</h1>
            <mat-card-content>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
                    <mat-form-field class="form-field">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" type="email" required>
                        <mat-icon matPrefix>person</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" type="password" required>
                        <mat-icon matPrefix>lock</mat-icon>
                    </mat-form-field>

                    <button mat-raised-button color="primary" type="submit">Login</button>
                </form>
            </mat-card-content>
            <div>
                Don't have an account?<a class="register-link" routerLink="/register">Register</a>
            </div>
        </mat-card>
    </div>
</div>